{% extends 'component/authenticatedbase.html' %}

{% block title %}About{% endblock %}
{% load static %}

{% block content %}
<div class="container mx-auto py-8 px-2">
    <div class="flex flex-wrap justify-center">
        <div class="w-full sm:w-8/12 mb-10">
            <div class="container mx-auto h-full sm:p-10 text-center">
                <nav class="flex justify-center px-4 items-center">
                    <div class="text-4xl font-bold">
                        About <span class="text-mid">Plant Nursery Blog.</span>
                    </div>
                </nav>
                <header class="container px-4 mt-10">
                    <div class="w-full">
                        <h1 class="text-4xl lg:text-6xl font-bold">Transform Your Space with <span class="text-mid">Greenery</span></h1>
                        <p class="text-xl mb-10 mt-10">Welcome to the Plant Nursery Blog, your guide to creating a vibrant and serene indoor garden. Discover tips, tricks, and inspiration for nurturing plants that breathe life into your space and elevate your everyday living.</p>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>

{% endblock %}
